.a1{
    color:rebeccapurple;
    text-transform: captalize;
    text-align:center
    font-style: italic;
}
.a2{
    color:#97DB17;
    font-style: normal;
    text-transform: captalize;
    text-align:left

}
.a3{
    color:rgb(23,53,219);
    text-transform: captalize;
    font-variant: small-caps;
    text-align:right
