.a0{
    background-image: url('background.jpg');
}
.a1{
    display: inline-block;
    border: 2px solid;
    background-image:url('image2.jpg');
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    color: darkred;
    text-shadow: yellow;
    width:101%;
    height: 100%;
}
.a2{
    display: inline-block;
    border: 2px solid black;
    background-image:url('image1.jpg');
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-weight: bolder;
    color: black;
    width:100%;
}
.a3{
    padding: 5px;
    color: white;
    text-align: center;
    font-size: larger;
}
.a4{
    width: 98%;
    height: 630px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-size: x-large;
    color:white;
}
.a5{
    color: white;
    margin: 100px;
    font-size: x-large;
    font-family: serif;
    font-style: italic;
}
.a6{
    color: black;
    margin: 100px;
    margin-left: 600px;
    font-style: oblique;
    font-weight: bolder;
    font-size: x-large;
    font-family: sans-serif;
}
.l1{
    border: 2px solid red;
    float:left;
}
.l2{
    border: 2px solid red;
    float: right;;
}
.name{
    display: inline-block;
    padding-top: 65px;
    text-align: center;
    font-size: xx-large;
    
}
nav{
    display: inline-block;
    border: 2px solid ;
    background-color: lightskyblue;
    width: 97.9%;
    padding:30px;
    font-size: large;
}
a{
margin: 20PX;
    text-transform: uppercase;
    border:lightseagreen 2px solid;
    padding: 0.5%;
}
