ul{
    list-style-type: none;
    border: 3px solid black;
    background-color: lavenderblush;;
    width: 40%;
    
}
ul a{
    
    color: slategrey;
    padding: 10px;
    text-decoration:underline;
    font-size: 30px;
    text-transform: capitalize;
    



ul a:active{
    color: black;
}